body{
	background: url(../images/bg.jpg);
	background-attachment: fixed;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: left bottom;*/
}

/*导航条*/
@media screen and (max-width: 600px){
	.site-nav{
		background-color: rgba(0,0,0,0.9);
	}
	

}
.site-header{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.4);
	color: white !important;
}
.site-header a{
	color: white;
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

.site-header a:hover{
	color: #da6426;
}
.trigger a{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

/*index文章块*/
.home h1.page-heading{
	font-size: 1.7em;
}
.page-content{
	min-height: 600px;
}

ul.post-list li{
	padding: 15px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0.9);
}

ul.post-list li h2 a{
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

ul.post-list li h2 a:hover{
	color:#da6426;
}


/*read more*/
a.read-more{
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

a.read-more:hover{
	color:#da6426;
}

/*上一页下一页*/
div.pagination{
	text-align: center;
}
div.pagination a{
	color: black;
	display: inline-block;
	padding: 1em;
	height: auto;
	width: auto;
	background-color:#da6426; 
	vertical-align: middle;
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}
div.pagination a.on{
	color: white;
}
div.pagination a.off{
	color: black;
	text-decoration: none;
	cursor: not-allowed	;
}
div.pagination a.page_number{
	color: white;
	text-decoration: none;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
}
/*about文章*/
.post{
	padding: 15px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0.9);
}

/*back-top*/
@media screen and (min-width: 600px){
	a.back-top{
		display: none;
		position: fixed;
		right: 2em;
		bottom: 4em;
		
		height: 50px;
		width: 50px;
		
		background-color: #da6426;
		background-image: url(../images/scrollup.png);
		background-position: center;
		border-radius: 7px;
		-webkit-transition: 0.5s;
	     -moz-transition: 0.5s;
	      -ms-transition: 0.5s;
	       -o-transition: 0.5s;
	          transition: 0.5s;		
	}
	a.back-top:hover{
		background-color: white;
	}

}
@media screen and (max-width: 600px){
	a.back-top{
		display: none;
	}
}



/*底部*/

body > footer > div{
	padding-top: 1.3em;
	background-color: #34373b;
	color: white;

	-webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

body > footer > div a,
body > footer > div span{
	color: #da6426;
	-webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}
body > footer > div a:hover,
body > footer > div span:hover{
	
	color: white;
}
body > footer > div p.text{
	color:#da6426;
}