body{
	background: url(../images/bg.jpg) repeat;
}

/*导航条*/

.site-header{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.4);
	color: white !important;
}
.site-header a{
	color: white;
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

.site-header a:hover{
	color: #da6426;
}
.trigger a{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

/*index文章块*/
.home h1.page-heading{
	font-size: 1.7em;
}
.page-content{
	min-height: 600px;
}

ul.post-list li{
	padding: 5px;
	border-radius: 2px;
	background-color: rgba(255,255,255,0.9);
}

ul.post-list li h2 a{
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

ul.post-list li h2 a:hover{
	color:#da6426;
}

/*read more*/
a.read-more{
	-webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

a.read-more:hover{
	color:#da6426;
}

/*baout文章*/