/**
 * Site header
 */
.site-header {
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {

    }
}
.site-nav {
    float: left;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        line-height: $base-line-height;
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

@include media-query($on-palm) {
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width:-webkit-calc(35% - (# {
        $spacing-unit
    }

    / 2));

    width:calc(35% - (# {
        $spacing-unit
    }

    / 2));
}

.footer-col-2 {
    width:-webkit-calc(20% - (# {
        $spacing-unit
    }

    / 2));

    width:calc(20% - (# {
        $spacing-unit
    }

    / 2));
}

.footer-col-3 {
    width:-webkit-calc(45% - (# {
        $spacing-unit
    }

    / 2));

    width:calc(45% - (# {
        $spacing-unit
    }

    / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:-webkit-calc(50% - (# {
            $spacing-unit
        }

        / 2));

        width:calc(50% - (# {
            $spacing-unit
        }

        / 2));
    }

    .footer-col-3 {
        width:-webkit-calc(100% - (# {
            $spacing-unit
        }

        / 2));

        width:calc(100% - (# {
            $spacing-unit
        }

        / 2));
    }

}

@include media-query($on-palm) {
    .footer-col {
        float: none;

        width:-webkit-calc(100% - (# {
            $spacing-unit
        }

        / 2));

        width:calc(100% - (# {
            $spacing-unit
        }

        / 2));
    }
    .post-content ul {
        overflow-y: scroll;
    }

}

/**
 * Page content
 */
.page-content {
    border-radius: 3px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    h2 {
        display: inline-block;
        margin-bottom: 0;
    }
    li {
        @extend %clearfix;
        height: 36px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    a.category {
        font-size: 16px;
        margin-left: 1em;
    }
}

.post-link {
    display: inline-block;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    margin-left: 1em;
    font-weight: lighter;
}

/**
 * Posts
 */
.post {
    padding: 20px 15px 15px 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #FFF;
}
.post-header {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid #ddd;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.1;
    font-weight: 600;

    @include media-query($on-laptop) {
        font-size: 1rem/1.42;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid #ddd;
    h1, 
    h2,
    h3,
    h4 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }
    h1 {
        font-size: 1.6em;
        padding-bottom: 0.3em;
    }

    h2 {
        font-size: 1.5em;
        padding-bottom: 0.3em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1em;
    }
    .content-bottom {
    }
    .payments {
        padding-top: 1em;
        border-top: 1px solid #ddd;
        position: relative;
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
        img {
            float: left;
            width: 30%;
            margin-right: 2%;
        }
    }
}

ul.pager {
    a:hover,
    a:focus {
        text-decoration: none;
    }
    span {
        font-size: 14px;
        color: #828282;
        margin-right: 1em;
    }
}

div.category {
  ul {
    list-style-type: none;
  }
  li {
    span.text-muted {
      font-size: 14px;
      color: #828282;
    }
    a {
      display: inline-block;
      font-size: 16px;
      height: 21px;
      line-height: 21px;
      margin-left: 1em;
      font-weight: lighter;
    }
  }
}

