<!DOCTYPE html>
<html>
  <!-- 主页引用页 -->
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>

      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous on">上一页</a>
        {% else %}
          <a class="previous off"><span >上一页</span></a>
        {% endif %}
        <a class="page_number"><span >{{ paginator.page }} /{{ paginator.total_pages }}</span></a>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next on">下一页</a>
        {% else %}
          <a class="next off"><span >下一页</span></a>
        {% endif %}
        
      </div>
    </div>
    <div class="back-top" alt="返回顶部" >
      <a href="#">↑↑↑↑↑</a>
    </div>
    {% include footer.html %}

  </body>

</html>
